/* Geral */

*{
    padding: 0%;
    margin: 0%;
    outline: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(194, 184, 255);
    height: 100vh;
    font-size: 1.6rem;
}
main{
    display: flex;
    justify-content: center;
    max-width: 980px;
    height: 600px;
    width: 95%;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
header{
    text-align: center;
    margin-bottom: 30px;
}
header h2{
    border-bottom: 2px solid rgb(77, 65, 150);
}
#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: whitesmoke;
}
#login img{
    width: 150px;
}
input{
    background-color: rgb(230, 230, 230);
    font-size: 1.6rem;
    padding: 5px;
    border: none;
    -webkit-appearance: none;
}
input[type="text"],input[type="password"]{
    border-left: 6px solid rgb(77, 65, 150);
    width: 60%;
    margin-top: 10px;
}
#info{
    text-align: center;
    margin-top: 16px;
}
#info a{
    display: block;
    text-decoration: none;
    color: rgb(26, 26, 26);
    font-size: 1.4rem;
}
#info a:hover{
    text-decoration: underline;
}
input[type="submit"]{
    cursor: pointer;
    margin-top: 10px;
    width: 40%;
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgb(77, 65, 150);
    color: whitesmoke;
    border: 2px solid rgb(77, 65, 150);
    transition: all .5s;
}
input[type="submit"]:hover{
    background-color: whitesmoke;
    color: rgb(77, 65, 150);
    border-color: rgb(77, 65, 150);
}
#login_2{
    position: relative;
    width: calc(100% - 400px);
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    background: linear-gradient(-45deg, #ee7752, slateblue,  gray) no-repeat;
    background-size: 400% 400%;
    animation: gradient 3s ease-in-out infinite;
}
#login_2 img{
    width: 480px;
    position: absolute;
    bottom: -28px;
    left: -120px;
}
#login_2 h1{
    margin-top: 100px;
    color: white;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.6rem;
    text-shadow: 2px 2px 3px rgb(36, 32, 70);
}
@media screen and (max-width: 770px){
    #login_2 img{
        width: 380px;
        bottom: -22px;
    }
}
@media screen and (max-width: 665px){
    #login_2{
        display: none;
    }
    body{
        background: linear-gradient(-45deg, #ee7752, #23a6d6, slateblue) no-repeat;
        animation: gradient 3s ease infinite;
        background-size: 400% 400%;
        animation: gradient 6s ease-in-out infinite;
    }
}
@media screen and (max-width: 450px){
    input[type="text"],input[type="password"]{
        width: 75%;
    }
    input[type="submit"]{
        margin-top: 30px;
        width: 65%;
    }
    main{
        height: 80%;
    }
}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}